<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::pagetitle}, ~{::section},~{::sidebar})}" xmlns:th="http://www.thymeleaf.org"
      xmlns="">


<pagetitle><h1>Create a new page</h1></pagetitle>
<section>
<form id="url_form" onsubmit="newUrl()"  class="form-inline">
    <input name="new_url" placeholder="URL of the new page" autocomplete="off" >

    <input type="submit" class="btn btn-success" value="Create">
</form>


    <script>

        function newUrl() {
            var action_src = ("/edit/" + document.getElementsByName("new_url")[0].value);
            var url_form = document.getElementById("url_form");
            url_form.action = action_src ;
        }
    </script>



</section>

<sidebar>
<p class="alert alert-success">Thank you for creating new content!</p>
</sidebar>



</html>