<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::pagetitle}, ~{::section},~{},~{})}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<pagetitle><h1>Pages tagged <span th:utext="${tag}"></span></h1></pagetitle>

<section>
    <tag th:if="${pageList != null}">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="page : ${pageList}">
                <td><a th:href="@{'/page/' + ${page.url}}" th:text="${page.title}"></a></td>
                <td><a th:href="@{'/page/' + ${page.url}}" th:text="${page.url}"></a></td>
            </tr>

            </tbody>
        </table>
    </tag>
    <p th:unless="${pageList != null}">There are no pages tagged <span th:utext="${tag}"></span>.</p>

</section>
